@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.button {
    background-color: #47cdff;
    font-size: 0.875rem;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 2px 7px 0 #b0eaff;
    padding: 6px 10px;
    color: #fff;
}

.project__title{
    border-color: #47cdff;
}
